cicd1/src/main/mule/cicd1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a0194684-7e0a-4aa1-8f07-7448413e1c52" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd1Flow" doc:id="cfdb5d5c-c12f-451e-b66a-8e503a56bd52" >
		<http:listener doc:name="Listener" doc:id="3aa53664-4241-4a2c-aa5b-892c989913eb" config-ref="HTTP_Listener_config" path="/cicd1"/>
		<set-payload value='#["Hello CICD 1"]' doc:name="Set Payload" doc:id="147214d4-1cfb-42eb-a2b9-8132133d522f" />
	</flow>
</mule>
